<%= render "shared/second_header" %>

<%= form_with model: @user, url: user_session_path,class: 'registration-main', local: true do |f| %>
    
      <div class='form-wrap'> 
    <%= render 'shared/error_messages', model: f.object %>
       <div class='form-header'>
           <h1 class='form-header-text'>
             アカウント情報入力
           </h1>
        </div>
        <p class='login-way'>次の方法でログインする</p>
        <div class='sns-login'>
          <%= link_to user_facebook_omniauth_authorize_path, method: :post do %>
           <div class='facebook'>
             <%= image_tag '/images/f_logo72.png',:size => '35x35' ,class:'facebook-logo' %>
             <p class="facebook-link">Facebook</p>
           </div>
          <% end %>
          <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post do %> 
           <div class="google">
             <%= image_tag '/images/btn_google.png',:size => '40x40' ,class:'google-logo' %>
             <p class="google-link">Google</p>
           </div>
          <% end %>
        </div>
        <p class='login-way'>または</p>
        <div class='form-group'>
          <div class='form-text-wrap'>
            <%= f.label :Eメール %>
            <span class='indispensable'>必須</span>
          </div>          
          <%= f.email_field :email, class:"account-input", placeholder:"PC・携帯どちらでも可", autofocus: true %>
        </div>
        <div class='form-group'>
          <div class='form-text-wrap'>
            <%= f.label :パスワード %>
            <span class='indispensable'>必須</span>
          </div>
          <%= f.password_field :password, class:"account-input", id:"password", placeholder:"" %>
        </div>
        <div class='form-group'>
          <div class='btn-content'>
            <%= f.submit "ログイン" , class:"submit-btn" %>
            <%= link_to '戻る', root_path, class:"submit-btn" %>
          </div>
        </div>
      </div>    
<% end %> 

<%= render "shared/footer"%>
