<!DOCTYPE html>
<html>
  <head>
    <title>Resources Management System</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title>RESOURCES MANAGEMENT SYSTEM</title>
    <link rel="stylesheet" href="https://unpkg.com/destyle.css@1.0.5/destyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Allison&family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Allison&family=Oswald&family=Shippori+Mincho&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
