<%= render "shared/header" %>
  
  <div class='members-show'>
          <div class='members-box'>
           <div class='member-table-explanation'>
              <span class='index-title'><%= current_user.name %>様の管理Member一覧</span>
           </div>
           <div class='member-menu'>
              <ul class='member-menu-list'>
                <li><%= link_to 'トップページ', root_path, class:"submit-btn" %></li>
                <li><%= link_to 'Member登録', new_member_path, class:"submit-btn" %></li>
              </ul>
           </div>
           <table class='members-table'>
             <thead>
               <tr>
                 <th class='member-item'>氏名</th>
                 <th class='member-item'>所属</th>
                 <th class='member-item'>役職</th>
                 <th class='member-item'>職務内容</th>
                 <th class='member-item'>総合評価</th>
                 <th class='member-item'>コミュニケーション能力</th>
                 <th class='member-item'>リーダーシップ</th>
                 <th class='member-item'>スキル</th>
                 <th class='member-item'>モチベーション</th>
               </tr>
             </thead>
             <tbody>
              <%# リンクをtableの値ごとに設定しないとうまくいかなかった %>
              <% @members.each do |member| %>
                <tr>
                 <td class='member-information'>
                 <%= link_to member_path(member.id),class:"show_link" do %>
                   <%= member.member_name %>
                 <% end %>
                 </td>   
                 <td class='member-information'>
                 <%= link_to member_path(member.id),class:"show_link" do %>
                   <%= member.organization %>
                 <% end %> 
                 </td>   
                 <td class='member-information'>
                 <%= link_to member_path(member.id),class:"show_link" do %>
                   <%= member.position %>
                 <% end %>
                 </td>   
                 <td class='member-information'>
                 <%= link_to member_path(member.id),class:"show_link" do %>
                   <%= member.work_info %>
                 <% end %>
                 </td>   
                 <td class='member-value'>
                 <%= link_to member_path(member.id),class:"show_link" do %>
                   <%= member.valuation.name %>
                 <% end %>
                 </td>   
                 <td class='member-value'>
                 <%= link_to member_path(member.id),class:"show_link" do %>
                   <%= member.communication %>
                 <% end %>
                 </td>   
                 <td class='member-value'>
                 <%= link_to member_path(member.id),class:"show_link" do %>
                   <%= member.leadership %>
                 <% end %>
                 </td>   
                 <td class='member-value'>
                 <%= link_to member_path(member.id),class:"show_link" do %>
                   <%= member.skill %>
                 <% end %>
                 </td>   
                 <td class='member-value'>
                 <%= link_to member_path(member.id),class:"show_link" do %>
                   <%= member.motivation %>
                 <% end %>
                 </td>   
                </tr>
            <% end %>
             </tbody>
           </table>
            <div class='page'>
             <%= paginate @members %>
            </div>
          </div>
        </div>

<%= render "shared/footer" %>