<%= render "shared/header" %>

      <div class='top-page-content'>
        <div class='left-content'>
        </div>
        <div class='right-content'>
          <% if user_signed_in? %>
          <div class='main-menu'>
            <p>Main Menu</p>
              <ul class='main-menu-lists'>
                <li class='menu-list'><%= link_to 'メンバー 登録', new_member_path %></li>
                <li class='menu-list'><%= link_to 'メンバー 一覧', members_path %></li>
                <li class='menu-list'><%= link_to 'アカウント削除', user_registration_path, method: :delete, data: {confirm: "本当にアカウントを削除しますか？"} %></li>
              </ul>
          </div>
          <% else %>
           <div class='ad'>
            <p>Manage</p>
            <p>Your Resources</p>
            <p>Effecttively</p>
            <p>and</p>
            <p>Efficiently</p>
          </div>
          <% end %>
        </div>
      </div>


<%= render "shared/footer" %>